<style>
    :root {
        /* Default colors */
        --color-blue: #439acb;
        --color-grey-blueish: rgb(162, 178, 187);
        --color-grey-dark: #2c2c2c;
        --color-grey-light: #d3d3d3;
        --color-grey: #b4b4b4;
        --color-orange: orange;
        --color-violet: rgb(180, 143, 189);
        --color-white-almost: rgb(209, 209, 209);
        /* Element colors */
        --color-album: var(--color-violet);
        --color-bg: var(--color-grey-dark);
        --color-collapse-btn: var(--color-grey-light);
        --color-collapsible-icon: var(--color-grey-light);
        --color-dump-date: var(--color-grey);
        --color-h1: var(--color-grey-light);
        --color-line: var(--color-grey-light);
        --color-main-item: var(--color-blue);
        --color-name-info: var(--color-grey);
        --color-section-title: var(--color-grey-light);
        --color-track-artist-part: var(--color-white-almost);
        --color-track-name-part: var(--color-grey-light);
        --color-track-name: var(--color-grey-light);
        --color-warn: var(--color-orange);
    }

    @font-face {
        font-family: 'Roboto';
        src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300,400;500;600&display=swap');
        font-weight: 400;
        font-style: normal;
    }

    html, body {
        margin: 0;
        padding: 0;
    }

    body {
        background-color: var(--color-bg);
        font-family: 'Roboto', sans-serif;
        padding: 20px;
    }

    hr {
        margin-top: 20px;
        margin-bottom: 20px;
        height: 1px;
        background-color: var(--color-line);
        border: none;
    }

    h1 {
        display: flex;
        flex-direction: column;
        color: var(--color-h1);
        font-weight: 400;
    }

    h1 .h1-small {
        font-size: 14px;
        font-weight: 400;
        color: var(--color-dump-date);
    }

    .collapse-buttons {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .collapse-buttons .buttons-line {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        color: var(--color-collapse-btn);
    }
    .collapse-buttons .buttons-line .btn {
        border: none;
        padding: 0;
        margin: 0;
        background: none;
        cursor: pointer;
        color: var(--color-collapse-btn);
    }
    .collapse-buttons .buttons-line .btn:hover {
        text-decoration: underline;
    }
    .collapse-buttons .info-line {
        font-size: 10px;
        color: var(--color-warn);
    }

    .name-info {
        font-size: 10px;
        font-weight: 300;
        color: var(--color-name-info);
    }

    section {
        margin-bottom: 20px;
    }

    section .section-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        margin-bottom: 6px;
        font-size: 16px;
        font-weight: 500;
        color: var(--color-section-title);
    }
    section .section-list {
        flex-direction: column;
        padding-left: 20px;
    }
    section.open .section-list {
        display: flex;
    }
    section .section-list .main-item .main-item-name {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        color: var(--color-main-item);
        font-size: 13px;
        font-weight: 600;
        line-height: 1.5;
    }
    section .section-list .main-item .main-item-name::before {
        font-size: 10px;
        font-family: monospace;
        font-weight: 400;
    }

    section .album-list {
        padding-left: 20px;
    }
    section .album-list .album .album-name {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
        font-size: 12px;
        font-weight: 600;
        color: var(--color-album);
        line-height: 1.5;
    }

    section .track-list {
        padding-left: 20px;
    }
    section .track-list .track {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    section .track-list .track .track-name {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
        font-size: 12px;
        font-weight: 400;
        color: var(--color-track-name);
        line-height: 1.5;
    }
    section .track-list .track .track-name .track-number-part {
        font-size: 10px;
        font-weight: 600;
    }
    section .track-list .track .track-name .track-artist-part {
        color: var(--color-track-artist-part);
    }
    section .track-list .track .track-name .track-name-part {
        color: var(--color-track-name-part);
    }

    .unselectable {
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .collapsible > .collapsible-title {
        cursor: pointer;
    }
    .collapsible > .collapsible-title:hover .collapsible-title-main {
        text-decoration: underline;
    }
    .collapsible > .collapsible-title::before {
        content: '[+]';
        font-size: 10px;
        font-family: monospace;
        font-weight: 400;
        color: var(--color-collapsible-icon);
    }
    .collapsible.open > .collapsible-title::before {
        content: '[-]';
        font-family: monospace;
    }
    .collapsible > .collapsible-list {
        display: none;
        flex-direction: column;
    }
    .collapsible.open > .collapsible-list {
        display: flex;
    }
</style>
