<style>
    @font-face {
        font-family: 'Roboto';
        src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300,400;500;600&display=swap');
        font-weight: 400;
        font-style: normal;
    }

    html, body {
        margin: 0;
        padding: 0;
    }

    body {
        background-color: #2c2c2c;
        font-family: 'Roboto', sans-serif;
        padding: 20px;
    }

    hr {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h1 {
        display: flex;
        flex-direction: column;
        {#margin-bottom: 40px;#}
        color: #d3d3d3;
        font-weight: 400;
    }

    h1 .h1-small {
        font-size: 14px;
        font-weight: 400;
        color: #b4b4b4;
    }

    .collapse-buttons {
        display: flex;
        flex-direction: column;
        gap: 5px;
        {#margin-bottom: 40px;#}
    }
    .collapse-buttons .buttons-line {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        color: #d3d3d3;
    }
    .collapse-buttons .buttons-line .btn {
        border: none;
        padding: 0;
        margin: 0;
        background: none;
        cursor: pointer;
        color: #d3d3d3;
    }
    .collapse-buttons .buttons-line .btn:hover {
        text-decoration: underline;
    }
    .collapse-buttons .info-line {
        font-size: 10px;
        color: orange;
    }

    .name-info {
        font-size: 10px;
        font-weight: 300;
        color: #b4b4b4;
    }

    section {
        margin-bottom: 20px;
    }

    section .section-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        margin-bottom: 6px;
        font-size: 16px;
        font-weight: 500;
        color: #d3d3d3;
    }

    section .section-list {
        flex-direction: column;
        padding-left: 20px;
    }

    section.open .section-list {
        display: flex;
    }

    section .section-list .main-item .main-item-name {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        color: #439acb;
        font-size: 13px;
        font-weight: 600;
        line-height: 1.5;
    }
    section .section-list .main-item .main-item-name::before {
        font-size: 10px;
        font-family: monospace;
        font-weight: 400;
        color: #d3d3d3;
    }

    section .album-list {
        padding-left: 20px;
    }
    section .album-list .album .album-name {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
        font-size: 12px;
        font-weight: 600;
        color: rgb(180, 143, 189);
        line-height: 1.5;
    }

    section .track-list {
        padding-left: 20px;
    }
    section .track-list .track {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    section .track-list .track .track-name {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
        font-size: 11px;
        font-weight: 400;
        color: white;
        line-height: 1.5;
    }
    section .track-list .track .track-name .track-number-part {
        font-size: 10px;
        font-weight: 600;
    }
    section .track-list .track .track-name .track-artist-part {
        color: rgb(209, 209, 209);
    }
    section .track-list .track .track-name .track-name-part {
        color: rgb(162, 178, 187);
    }

    .unselectable {
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .collapsible > .collapsible-title {
        cursor: pointer;
    }
    .collapsible > .collapsible-title:hover .collapsible-title-main {
        text-decoration: underline;
    }

    .collapsible > .collapsible-title::before {
        content: '[+]';
        font-size: 10px;
        font-family: monospace;
        font-weight: 400;
        color: #d3d3d3;
    }

    .collapsible.open > .collapsible-title::before {
        content: '[-]';
        font-family: monospace;
    }

    .collapsible > .collapsible-list {
        display: none;
        flex-direction: column;
    }
    .collapsible.open > .collapsible-list {
        display: flex;
    }
</style>
